@model OnlineExamSystem.Web.ViewModel.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>

<div class="alert alert-danger">
    <p>@Model.Message</p>
    <a asp-action="Index" class="btn btn-primary">Back to Exams</a>
</div>